body{
	background-color: #D7D1B9;
	font-family: 'Roboto';
	overflow: hidden;
}

*{
	border: 0 !important;
	/*border-radius: 0 !important;*/
}

:root{
	--dark-brown: #443633;
}

textarea {
    background-color: #0c2123;
    border: 0;
    color: #FFF;
    padding: 0.5em;
    font-family: courier new;
    width: 100%;
    resize: none;
    height: 200px;

}

div[class^="col"]{
	border: 1px solid #DDD;
}

div.codebox{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

div.card{
	margin-top: 107px;
}

div.card-body{
	padding: 0 !important;
}

div.card-header{
	background-color: var(--dark-brown);
	color: #FFF;
	font-family: 'Bitter';
	font-size: 2em !important;
	font-weight: bold;
	border-radius: 0 !important;
	z-index: 0;
}

div.card-body{
	background-color: 
}

div.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

div.row > div:first-child{
	padding-top: 0.5em;
}

div.row:nth-child(2) > div{
	height: 50px;
	border-top: 1px solid #888 !important;
 }

.btn{
	width: 100%;
	background-color: #62D0EF !important;
	font-weight: bold;
	transition: all 0.5s;
	border-radius: 0 !important;
	color: #FFF !important;
}

.btn:hover{
	background-color: #317D84 !important;
	transition: all 0.5s;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
}

div.row:nth-child(2) > div{
	/*background-color: #AAA;*/
}

div#clue{
	font-family: 'Bitter';
	font-size: 1.5em;
	vertical-align: middle;	
}

div#codeResults{
	padding: 5px 10px;
	height: 85px;
	background-color: #222;
	color: #FFF;
	font-size: 1em;
	font-family: courier new;
	vertical-align: middle;	
}

div.banner-top{
	position: absolute;
	top: 0px;
	left: 50%;
}

div.banner-text{
	border-radius: 100px;
	background-color: #E76535;
	font-family: 'Bitter';
	font-size: 14px;
	width: 100px;
	height: 100px;
	padding-top: 29px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	position: relative;
	z-index: 5;
	margin-left: -605px;
	margin-top: 10px;
}

div.banner-outline{
	background-color: #D7D1B9;
	border-radius: 100px;
	width: 120px;
	height: 120px;
	position: relative;
	margin-left: -615px;
	z-index: 3;
	margin-top: -109px;
}

div.banner-top-cs{
	position: absolute;
	background-color: #E76535;
	height: 25px;
	width: 2000px;
	z-index: 4;
	top: 50px;
	/*margin-left: -570px;
	margin-top: -147px;*/
	left: -545px;
}

div.banner-top-mm{
	position: absolute;
	background-color: #6C9A30;
	height: 20px;
	width: 300px;
	z-index: 2;
	top: 25px;
	left: -545px;
}

div.banner-top-vd{
	position: absolute;
	background-color: #3A99A2;
	height: 20px;
	width: 200px;
	z-index: 2;
	top: 81px;
	left: -545px;
}